nav {
    overflow: hidden;
    position: fixed;
    transform: translateX(-200px);
    width: 285px;
    transition: all 600ms cubic-bezier(.8, 0, .33, 1);
    border-radius: 0% 0% 100% 50%;
    z-index: 700;
    height: fit-content;
    padding-bottom: 4px;
}
nav.nav-open {
    height: fit-content;
    padding-bottom: 4px;
    transform: translateX(0px);
    border-radius: 0% 0% 0% 0%;
	background: rgba(49, 49, 49, 1);
    position: fixed;
    z-index: 600;
    border-top-right-radius: 15px;
}